**/.venv
**/target
**/.vscode
**/nltk_data
**/.rasa
**/__pycache__
~$pport_semestre.docx
**Zone.Identifier
**/models
**/*.csv
projet/telegram_bot/.env-api
projet/api/credentials.json
projet/api/token.json
**/*.ics
**/.vite