services:
  rasa-core:
    image: "rasa-core"
    container_name: ${RASA_CORE_CONT}
    expose:
      - "5005"
    ports:
      - "5005:5005"
    depends_on:
      - actions-server
      - duckling
    volumes:
      - "./:/app"
    restart: unless-stopped
    env_file: .env
    command: sh -c 'python3.10 scripts/fill_data.py && rasa train -d domain --fixed-model-name my_rasa_model && rasa run --enable-api --port 5005  --cors "*" -m models/my_rasa_model.tar.gz --debug'
  duckling:
    image: "rasa/duckling"
    container_name: ${DUCKLING_CONT}
    env_file: .env
    ports:
      - "8000:8000"
    expose: 
      - "8000"
    restart: unless-stopped
    command: "duckling-example-exe -p 8000"
  actions-server:
    build:
      context: ./
      dockerfile: Dockerfile
    container_name: ${SERVER_ACTIONS_CONT}
    image: "rasa-core"
    env_file: .env
    volumes:
      - "./:/app"
    ports:
      - "5055:5055"
    expose:
      - "5055"
    restart: unless-stopped
    command: rasa run actions

