@import url("https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300;400;700&display=swap");
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
body {
	/* font-family: "Averia Serif Libre", cursive; */
	background-color: rgb(19, 18, 21);
	color: #ffffff;
	overflow: hidden;
}

.radio-section {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	height: 15vh;
	width: 5vw;
}
h1 {
	margin-bottom: 20px;
}
.radio-item [type="radio"] {
	display: none;
}
.radio_container {
	width: 40vw;
	width: fit-content;
	max-width: 100%;
}
.radio-item + .radio-item {
	margin-top: 15px;
}
.radio-item label {
	display: block;
	text-align: center;
	padding: 2.5vh 1vw;
	background: #9bbde9;
	border: 2px solid rgba(255, 255, 255, 0.1);
	box-shadow: 0.2rem 0.3em 0.7rem darkslategray;
	border-radius: 8px;
	cursor: pointer;
	font-size: 1.8em;
	padding-left: 4rem;
	font-weight: 400;
	max-width: 100%;
	width: 100%;
	/* min-width: 30vw; */
	word-wrap: break-word;
	white-space: nowrap;
	text-wrap: balance;
	position: relative;
	transition: 0.4s ease-in-out 0s;
	border-radius: 1.2rem;
	/* -webkit-text-fill-color: white; 
	-webkit-text-stroke: 1px black; */
}

@media (max-width: 1024px){
	.radio-item label {
		max-width: 80%;
		width: 80%;
	}
}
.radio-item label:after,
.radio-item label:before {

	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height:  1.5rem;
	width: 1.5rem;
	border: 2px solid #7a8cd2;
	left: 0.8em;
	top: 40%;
}
.radio-list > p {
	width: 100%;
	font-size: 1.5rem;

}
.radio-list {
	/* min-width: 30vw; */
	max-width: 100%;
}
.radio-item label:before {
	background: #000000;
	height:  1.5rem;
	width: 1.5rem;
	left: 0.8em;
	top: 40%;
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
	border-color: #84c1f2;
}
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}