div.container {
    background-color: honeydew;
    color:black;
    margin: auto;
    width: 100%;
    height: 98vh;
    margin: 0 auto 0;
    max-width:100%; 
    max-height: 100%;
    /* border: 0.5rem gray solid; */
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    /* padding: 0.5em 0.5em 0.5em 0.5em ; */
    border-radius: 2.6em;
}


div.message-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem 1rem 2rem;
    overflow: auto;
    max-width:100%; 
    max-height: 100%;
    flex-grow: 1;
}

div.text-right,div.text-left{
    color: black;
    padding: 0.7rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    font-size: 1.8em;
    box-shadow: 0.2rem 0.3em 0.7rem darkslategray;
    border-radius: 1.2rem;
    max-width: 80%;
    word-wrap: break-word;
	text-wrap: balance;

}


@media (max-width: 1024px){
	div.text-right,div.text-left {
		max-width: 80vw;
        font-size: 1.5em;
	}
}

div.textbox-input textarea {
    width: 80%;
    border: 1px solid;
    font-size: 1.5rem;
    text-justify: auto;
    border-bottom-left-radius:  0.8em;
}



div.text-right {
    align-self: flex-end;
    background-color: lightgreen;
}

div.text-left {
    background-color: darkturquoise;
    align-self: flex-start;
}


h1.header {
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0;
    background-color: powderblue;
    border-top-left-radius: 0.7em;
    border-top-right-radius: 0.7em;
    z-index: 9;

}

div.textbox-input {
    height: 8%;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
}




div.textbox-input textarea:hover {

    background-color: gainsboro;
    
}


div.textbox-input button {
    width: 20%;
    background-color: lightgrey;
    border: 1px solid;
    height: 100%;
    padding: 0;
    border-bottom-right-radius:  2.7em;
}

div.textbox-input button:hover {
    background-color: dimgrey;
    transition: 0.2s;
}

svg.react-send-icon {
    max-width: 100%;
    height: 100%;
}

svg.react-document-icon {
    /* max-width: 100%; */
    /* height: 100%; */
    box-sizing: unset;
    padding-bottom: 0.5rem;
}

div.download-link {
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.textbox-input textarea {
    resize: none;
}