div.container {
    background-color: honeydew;
    color:black;
    margin: auto;
    width: 80%;
    height: 90vh;
    margin: 5vh auto 5vh;
    max-width:100%; 
    max-height: 90%;
    border: 0.5rem gray solid;
    display: flex;
    flex-direction: column;
}

div.message-container {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 2rem 1rem 2rem;
    overflow: auto;
    max-width:100%; 
    max-height: 100%;
}

div.text-right {
    color: black;
    align-self: flex-end;
    padding: 0.7rem;
    margin-top: 0.8rem;
    margin-bottom: 0.8rem;
    background-color: lightgreen;
    font-size: 1.8vmin;
    box-shadow: 6px 8px 10px darkslategray;
    border-radius: 1.2rem;
}

div.text-left {
    color: black;
    align-self: flex-start;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    background-color: cadetblue;
    font-size: 1.8vmin;
    box-shadow: 6px 8px 10px darkslategray;
    border-radius: 1.2rem;
}

h1.header {
    font-size: 2.5rem;
    padding: 2rem;
    margin: 0;
    background-color: powderblue;
}

div.textbox-input {
    height: 8%;
    width: 100%;
    margin: 0;
    background-color: white;
    display: flex;
    position: sticky; /* Keep the input area at the bottom */
    box-sizing: border-box; /* Ensure padding doesn't affect width */
}

div.textbox-input textarea {
    width: 80%;
    border: 1px solid;
    font-size: 1.8vmin;
    text-justify: auto;
}
div.textbox-input button {
    width: 20%;
    background-color: lightgrey;
    border: 1px solid;
    height: 100%;
    padding: 0;
}
svg.react-send-icon {
    max-width: 100%;
    height: 100%;
}
div.textbox-input textarea {
    resize: none;
}