

div.HomeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    height: 100vh;
}
div.HomeContainer > h1 {
    font-size: 4rem;
}

h2{
    font-size: 2rem;
}

img {
    height: 40vh;
    max-width: 100%;
    width: auto; /* ie8 */
}